html,body{
    width:100%;
    /* height:80vh; */
}
.events-container{
    height: 100%;
    padding:100px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
    gap:10px;
}
button{
    padding:20px;
    border-radius: 20px;
  pointer-events: auto;
}