
*{
    margin:0;
    padding:0;
}
html,body{
    /* height:100%; */
    width:100%;
}
.container{
    height:80vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    border-bottom: 2px solid black;
}
span{
    font-size: 100px;
}