html,body{
    width:100%;
    height:20vh;
}
.counterpage{
    margin:50px 0;
}
.count{
    font-size: 40px;
    background-color: gray;
    width: 20px;
    margin: auto;
    margin-bottom: 20px;
    color:white;
    border-radius: 20px;
    padding: 10px 20px;
    /* text-align: center; */
}
.heading{
    text-align: center;
    font-size: 50px;
}
.btn{
    padding:30px;
    border:2px solid black;
    border-radius: 50px;
    cursor:pointer;
    font-size: 16px;
    margin:10px;
    font-weight: 800;
}
.btn:hover{
    border:2px solid white;
}
.bg-red{
    background-color: red;
    color:white;
}
.bg-black{
    background-color: black;
    color:white;
}
.bg-green{
    background-color: greenyellow;
}
.buttons{
    display:flex;
    align-items: center;
    justify-content: center;
}
