*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    /* background-image: url(https://res.cloudinary.com/dfnbm55zk/image/upload/v1770097051/images_jbwmcr.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}
